<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

	<script type="text/javascript" src="/packages/jquery/jquery.min.js"></script>

	<script src="/socket.io/socket.io.js"></script>

	<script type="text/javascript" src="/javascripts/app.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/application.min.css' />
</head>
<body>
<% include spinner.ejs %>